@model DawForum.Models.Comment

@{
    ViewBag.Titlu = "Afisare comentariu";
}

<h2>@ViewBag.Titlu</h2>

<br />

<div class="panel panel-default">
    <div class="panel-body">
        Continut discutie: <strong>@Model.Message</strong>
        <br />
        <span class="label label-success">@Model.Date</span>
    </div>
</div>

@if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
{
    <a class="btn btn-sm btn-info" href="/Comment/Edit/@Model.Id"> Modifica comentariul </a>
    <br />

    <form method="post" action="/Comment/Delete/@Model.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Sterge comentariul</button>
    </form>
}

<hr />
<a class="btn btn-sm btn-success" href="/Comment/Index/@Model.TopicId">Inapoi la comentarii</a> 
<br />

