@model DawForum.Models.Topic

@{
    ViewBag.Titlu = "Afisare discutie";
}

<h2>@ViewBag.Titlu</h2>

<br />

@Html.Partial("ShowPartial")

@if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
{
    <a class="btn btn-sm btn-info" href="/Topic/Edit/@Model.Id">
        Modifica discutia
    </a>
    <br />

    <form method="post" action="/Topic/Delete/@Model.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Sterge discutia</button>
    </form>
}

<hr />
<a class="btn btn-sm btn-success" href="/Topic/Index/@Model.CategoryId">Inapoi la discutii</a> 
<a class="btn btn-sm btn-success" href="/Topic/New">Adauga discutie</a>
<br />

