
@{
                /**/

                ViewBag.Titlu = "Afisare categorii";
}

<h2>@ViewBag.Titlu</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nume</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var category in ViewBag.Categories)
            {
                <tr>
                    <th scope="row">@category.CategoryId</th>
                    <td><a href="/Categories/Show/@category.CategoryId">@category.CategoryName</a></td>
                </tr>
            }
        </tbody>
    </table>



@if (this.User.IsInRole("Administrator"))
{
    <a class="btn btn-sm btn-success" href="/Categories/New">Adauga categorie</a>
}
<br />

