@{
    ViewBag.Title = "Afisare articole";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


@foreach (CursLab8.Models.Article article in ViewBag.Articles)
{
    @Html.Partial("ArticleInfo", article);

}

<a class="btn btn-sm btn-success" href="/Article/New">Adauga un articol</a>
<br />


