
@{
    ViewBag.Title = "Extra";
}


<h2>Extra</h2>

<h1>Age: </h1>

@Model.Age

<br />

<h1>Country: </h1>

@Model.Country

<h1>FirstName: </h1>

@Model.FirstName

<h1>Lastname: </h1>

@Model.LastName
